<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crossdrives">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.crossdrives.msgraph.SnippetApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchResultsActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QueryResultActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".DeleteFileActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SearchResultsActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".SysTestEnterFileDialog"
            android:theme="@style/Theme.Custom.MaterialComponents.Dialog.MinWidth" >
        </activity>
        <activity android:name=".SignOutDialog"
            android:theme="@style/Theme.Custom.MaterialComponents.Dialog.MinWidth" >
        </activity>
        <activity android:name="com.crossdrives.activity.FABOptionDialog"
            android:theme="@style/Theme.Custom.Option.MaterialComponents.Dialog.MinWidth"
            android:excludeFromRecents="true">
        </activity>
        <!--Intent filter to capture System Browser or Authenticator calling back to our app after sign-in-->
        <activity
            android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msauth"
                    android:host="com.example.crossdrives"
                    android:path="/yuA+nLjqHb+lo8n78AI7ZAgEens=" />
            </intent-filter>
        </activity>
        <provider android:name=".SearchSuggestionProvider"
            android:authorities="com.example.crossdrives.SearchSuggestionProvider" />
    </application>

</manifest>